<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<config>
		<add key="repositorypath" value="packages" />
	</config>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="dx-github" value="https://nuget.pkg.github.com/DevExpress/index.json" />
	</packageSources>
	<packageSourceCredentials>
        <dx-github>
            <add key="Username" value="DevExpress" />
            <add key="ClearTextPassword" value="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" />
        </dx-github>
    </packageSourceCredentials>
	<packageSourceMapping>  
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="dx-github">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>